html {
    box-sizing: border-box;
    background-color: rgb(141, 141, 221);
}

header {
   
}

.button-container {
    display: flex;
    padding: 20px;
    
    justify-content:space-around;
    align-items: center;
}

.logo {
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 1200px;
    margin-bottom: 20px;
    padding: 1px;
    font-size: 50px;
    text-align: center;
    color: rgb(33, 6, 59); 
    background-color:  rgb(243, 148, 4);
}
    

button {
    background-color: rgb(243, 148, 4);
    font-style: italic;
    font-size: 20px;
    padding: 6px;
    padding-left: 9px;
    padding-right: 9px;
    margin-left: 15px;
    border: solid rgb(158, 107, 11);
}

img {
    width:500px; height: 300px;
   
}

.photo-container  {
    margin-top: 6px;
    display: flex;
   
    flex-direction:row;
    justify-content:space-evenly;
}
