h1 {
    font-size: 80px; background-color: sandybrown; color: blueviolet; text-align: center;
}

body {
    background-color: lightsalmon;
}


.lasagna {
    font-size: 30px; font-weight: bold; 
}

.chicken {
    font-size: 30px; font-weight: bold;
}

.salmon {
    font-size: 30px; font-weight: bold; text-align: right;
}

img {
    width: 610px; height: 500px; align-items: center;
}