html {
    box-sizing: border-box;
}

body {
    background-color: lightsalmon;
}

h1 {
    font-size: 80px; color: rgb(33, 6, 59); background-color:  rgb(243, 148, 4); text-align: center; margin: auto;
    padding-top: 18px; padding-bottom: 8px;
    border: 4px; border-color: rgb(33, 6, 59);
}

img {
    width: 580px; height: 400px; margin-left: 25px; margin-right: 20px; margin-top: 30px;
}

button {
    background-color: rgb(226, 159, 33); color: black; font-size: larger;
    padding: 10px; 
    
    font: bold;
    margin-top: 10px; margin-left: 240px; margin-right: 135px;
}